#root {
  margin: 0 auto;
  text-align: center;
  --background-1: #B57AFF;
  --background-2: #FAF3F1;
  --background-3: #F3EAFF;
  --background-4: #FFE0CA; /* Light Orange */
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

/* app.css */

.nav-placeholder {
  height: 80px; /* Default height */
  background-color: var(--background-5); /* Ensure color is defined */
  width: 100%;
}

/* Styles for Landing Container */
.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
  width: 100vw;
}

/* Styles for Landing Content */
.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 2px solid red; */
  border-radius: 8px;
}

/* Styles for Search Section */
.search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 860px;
  /* border: 1px solid #000; */
  margin-right: 0px;
}


/* Styles for Search Section */
.search-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  height: 100%; /* Ensure it takes up full height of its parent */
  width: 100%;
}

/* Styles for Search Bar Container */
.search-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center; /* Align items vertically within the container */
  justify-content: center; /* Center items horizontally within the container */
  height: 96px;
  width: 835px; /* Adjust max-width as needed */
  /* border: 2px solid red; /* Optional: Border for visual debugging */
}

/* Other styles */
.search-bar-button {
  height: 100%;
  min-width: 230px; 
  border: 3px solid #000;
  border-right: 0;
  border-radius: 0;
  font-size: 32px;
  font-weight: 550;
  background-color: var(--background-4);
}

.search-bar-field {
  height: 100%;
  width: 575px;
  display: flex;
  align-items: center;
}

.search-input {
  height: 100%;
  flex: 1;
  padding: 30px;
  border: 3px solid #000;
  font-size: 32px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 860px;
  max-height: 500px;
  /* border: 1px solid #000; */
}


/* Mockup Section */
.mockup-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  max-height: 500px;
  /* border: 1px solid #000; */
}

.mockup {
  width: 100%; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensure image fits within the box while maintaining aspect ratio */
  max-width: 100%; /* Ensure image does not exceed container width */
  max-height: 100%; /* Ensure image does not exceed container height */
}


/* Component Styling */

/* Grid System */
.result-top-2 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Specific containers */

.checkmarks.li {
  text-decoration: none;
}

.score-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Cards */
.card {
  border: 3px solid #000;
  border-radius: 3px;
  border-radius: 10px;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 1);
}

.card-header {
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  border: 3px solid #000;
}

.card-content{
  max-width: 100%;
  max-height: 90%; /* Set a maximum height */
  overflow-y: auto;
  overflow-x: hidden;
  white-space: normal; 
  word-wrap: break-word;
  text-align: justify; 
  hyphens: auto; 
  padding: 0px 14px 14px 14px;
  margin-right: 8px;
  margin-top: 14px;
}

.card-content.videos {
  margin-right: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 0px;
}

.card-content::-webkit-scrollbar {
  width: 8px; 
}

.card-content::-webkit-scrollbar-track {
  background: #transparent; 
}

.card-content::-webkit-scrollbar-thumb {
  background: #6e6e6e; 
  border-radius: 6px; 
}

.card-content::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Videos */

.videoframe-main {
  border: 3px solid #000;
  overflow: hidden; /* Ensures content doesn't overflow the container */
  aspect-ratio: 16 / 9; /* Maintains a 16:9 aspect ratio */
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover; /* Ensures the background image covers the entire container */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
}

.videoframe-thumbnail {
  margin-bottom: 1rem;
  border: 3px 0px 0px 0px solid #000;
  overflow: hidden; /* Ensures content doesn't overflow the container */
  aspect-ratio: 16 / 9; /* Maintains a 16:9 aspect ratio */
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover; /* Ensures the background image covers the entire container */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
  max-width: 100%; /* Ensures the width does not exceed its parent container */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}


/* Media Query for Devices Smaller than 1024px */
@media (max-width: 1024px) {
  .nav-placeholder {
    height: 80px; /* Default height */
    background-color: var(--background-5); /* Ensure color is defined */
    width: 100%;
  }
  
  .search-bar-container {
    height: 80px; /* Reduced height for smaller screens */
    width: 100%;
    max-width: 600px; /* Adjusted width */
  }

  .search-bar-button {
    height: 80px; /* Reduced height */
    max-width: 180px; /* Adjusted width */
    font-size: 24px; /* Smaller font size */
    justify-content: center;
  }

  .search-bar-field {
    height: 80px; /* Reduced height */
    max-width: 400px; /* Adjusted width */
  }

  .search-input {
    height: 80px; /* Reduced height */
    font-size: 24px; /* Smaller font size */
  }
}